.logo{
  font-family: "oswald", sans-serif;
  color: #ffffff;
}
body{
  font-family: "open-sans", sans-serif;
}

header {
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 45rem;
}


.linea{
  border-color: white;
  width: 10rem;
}

.linea-negra{
  border-color: #373A3C;
  width: 3rem;
}
.interlineado {
  line-height: 250%;

}
h2{
font-family: "oswald"; sans-serif;
}

.card{
  text-align: left;
  color: #373A3C;
  font-family: "open-sans light", sans-serif;
  font-size: 16px;
}

.card-title{
  text-align: left;
  color: #373A3C;
  font-family: "oswald", sans-serif;
  font-size: 400;

}
.border{
  border-color: #DDDDDD, solid;
}
